PROJECT_NAME=Agro-Cloud Backend API
API_V1_STR=/api/v1
APP_ENV=development
DATABASE_URL=postgresql://agro_user:agro_password@localhost:5432/agro_cloud_db
AI_ENGINE_URL=http://localhost:8500
CORS_ORIGINS=["*"]
SECRET_KEY=agro_cloud_super_secret_hackathon_key_2026
